@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* General styling */
html {
  scroll-behavior: smooth;
}

/* Additional styles for your page */

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
  }
  
  /* Navigation styles */
  /* .nav {
    background-color: #f8f8f8;
  } */
  
  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    list-style-type: none;
    padding-top: 20px;
    margin-right: 20px;
  }
  
  .nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }

  .custom-text-shadow {
  text-shadow: 5px 5px rgb(0, 0, 0);
  }

  .text-shadow {
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
  }

  .projects-text-shadow {
    text-shadow: 1px 1px 2px rgb(196, 194, 194);
  }

  #typed {
    font-size: 30px;
    font-weight: bold;
    color: #007bff; /* or any other color you prefer */
  }

  .text-gradient {
    background: linear-gradient(to right, black, white);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }

  .custom-bg-transition {
    transition: background-color 0.5s ease-in-out;
  }
  
  /* About section styles */
  .About {
    margin-top: 20px;
  }
  
  .About h2 {
    color: #0066cc;
  }
  
  /* Skills section styles */
  .Skills {
    margin-top: 20px;
  }
  
  .Skills p {
    font-weight: bold;
    color: #333;
  }
  
  /* Experience section styles */
  .Experience {
    margin-top: 20px;
  }
  
  .Experience h1 {
    color: #0066cc;
  }
  
  .Experience ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  /* Projects section styles */
  .Projects {
    margin-top: 20px;
  }
  
  .Projects h1 {
    color: #0066cc;
  }
  
  .Projects h3 {
    color: #333;
  }
  
  .image {
    position: relative;
    left: 0px;
    width: 6rem;
    height: 20rem;
    border-radius: 1.2rem;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    flex: 0.25;
  }

  .image img {
    /* position: relative; */
    height: 20rem;
    object-fit: cover;
  }

  .image:hover {
    flex: 3;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
  }

  .image:nth-child(1) img {
    left: -8rem;
  }

  .image:nth-child(2) img {
    left: -6rem;
  }

  .image:nth-child(3) img {
    left: -14rem;
  }

  .image:nth-child(4) img {
    left: -8rem;
  }
  /* Services section styles */
  .Serivices {
    margin-top: 20px;
  }
  
  .Serivices h1 {
    color: #0066cc;
  }
  
  .Serivices h4 {
    color: #333;
  }
  
  .Serivices p {
    color: #666;
  }
  
  /* Footer styles */
  #footer {
    margin-top: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
/* Mobile */
@media (max-width: 480px) {
  .nav ul {
    margin-right: 5px;
  }

  .nav li {
    font-size: 10px;
    margin-right: 5px;
  }

  .pt-40 {
    padding-top: 5rem;
  }

  .lpage {
    display: flex;
    flex-direction: column;
  }

  .lpage img {
    display: none;
  }

  .bg-gray-900 {
    font-size: 16px;
  }

  .text-shadow {
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  }

  .py-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .px-3 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  /* .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  } */

  .px-10 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sm\:text-8xl {
    font-size: 2.5rem;
    line-height: 1;
  }

  .text-7xl {
    font-size: 1.4rem;
    line-height: 1;
  }

  .mt-20 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .text-4xl {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .gap-40 {
    gap: 0;
  }

  .pb-5 {
    padding-bottom: 0;
  }

  .text-2xl {
    font-size: 1rem;
    line-height: 1.5;
  }

  .about p {
    font-size: 12px;
  }

  .exp {
    font-size: 12px;
  }

  .mx-20 {
    /* margin-left: 5rem; */
    /* margin-right: 5rem; */
  }

  #projectsSwipe .grid {
    display: flex;
    flex-direction: column;
  }

  .mx-20 {
    margin-left: 2.3rem;
    margin-right: 2.3rem;
  }

  #projectsSwipe .text-3xl {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  #projectsSwipe .text-2xl {
    font-size: 12px;
    line-height: 1.2rem;
  }

  #projectsSwipe .mx-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .link {
    font-size: 9px;
  }

  #imagesSwipe {
    display: flex;
    flex-direction: column;
  }

  #imagesSwipe .image {
    width: 100%;
    /* height: 100%; */
  } 

  #dciP {
    margin-top: 1rem;
  }

  #devP {
    margin-top: 1rem;
  }

  #edaiP {
    margin-top: 1rem;
  }

  /* .link {
    font-size: 18px;
  } */

  .services {
    display: flex;
    flex-direction: column;
  }

  .services p {
    font-size: 12px;
  }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
  .nav ul {
    margin-right: 5px;
  }

  .nav li {
    font-size: 10px;
    margin-right: 5px;
  }

  .pt-40 {
    padding-top: 5rem;
  }

  .lpage {
    display: flex;
    flex-direction: column;
  }

  .lpage img {
    display: none;
  }

  .bg-gray-900 {
    font-size: 16px;
  }

  .text-shadow {
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  }

  .py-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .px-3 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .px-10 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .text-black {
    font-size: 8px;
  }

  .sm\:text-8xl {
    font-size: 5rem;
    line-height: 1;
  }

  .text-7xl {
    font-size: 1.5rem;
    line-height: 1;
  }

  .mt-20 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #projectsSwipe {
    display: flex;
    flex-direction: column;
  }

  #projectsSwipe .mx-20 {
    margin-left: 2.3rem;
    margin-right: 2.3rem;
  }

  #projectsSwipe .text-3xl {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  #projectsSwipe .text-2xl {
    font-size: 12px;
    line-height: 1.2rem;
  }

  #projectsSwipe .mx-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .link {
    font-size: 9px;
  }

  #imagesSwipe {
    display: flex;
    flex-direction: column;
  }

  #imagesSwipe .image {
    width: 100%;
    /* height: 100%; */
  }

  #dciP {
    margin-top: 1rem;
  }

  #devP {
    margin-top: 1rem;
  }

  #edaiP {
    margin-top: 1rem;
  }

  /* .link {
    font-size: 18px;
  } */
}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .nav ul {
    margin-right: 10px;
  }

  .sm\:text-8xl {
    font-size: 5rem;
    line-height: 1;
  }

  .text-7xl {
    font-size: 2.6rem;
    line-height: 1;
  }

  .mt-20 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #projectsSwipe .grid {
    display: flex;
    flex-direction: column;
  }

  #dciP {
    margin-top: 1rem;
  }

  #devP {
    margin-top: 1rem;
  }

  #edaiP {
    margin-top: 1rem;
  }

  .link {
    font-size: 18px;
  }
}


/* Large tablets and laptops */
@media (min-width: 992px) and (max-width: 1199px) {
  .nav ul {
    margin-right: 10px;
  }

  .sm\:text-8xl {
    font-size: 5rem;
    line-height: 1;
  }

  .text-7xl {
    font-size: 2.6rem;
    line-height: 1;
  }

  .mt-20 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #projectsSwipe .grid {
    display: flex;
    flex-direction: column;
  }

  #dciP {
    margin-top: 1rem;
  }

  #devP {
    margin-top: 1rem;
  }

  #edaiP {
    margin-top: 1rem;
  }

  .link {
    font-size: 18px;
  }
}

/* Desktops and laptops */
@media (min-width: 1200px) {

}
